<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="databaseConnectionManager" class="home.spring.ioc.exercises.fifth.DatabaseConnectionManager" autowire="byName">
        <property name="poolSize" value="2"/>
    </bean>

    <bean id="executorManager" class="home.spring.ioc.exercises.fifth.ExecutorManager" autowire="byName">
        <property name="poolSize" value="2"/>
    </bean>

    <bean id="fileWatcherManager" class="home.spring.ioc.exercises.fifth.FileWatcherManager" autowire="byName">
        <property name="poolSize" value="2"/>
    </bean>

    <bean id="cacheManager" class="home.spring.ioc.exercises.fifth.CacheManager" autowire="byName">
        <property name="maxMemSize" value="2"/>
    </bean>

    <bean id="resourceManager" class="home.spring.ioc.exercises.fifth.ResourceManager" autowire="byName">

        <property name="id" value="id"/>
    </bean>
</beans>
