<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="beanUnderTest" class="home.spring.ioc.exercises.sixth.BeanUnderTest" init-method="init" destroy-method="destroy">
        <property name="beanName" value="beanUnderTest"/>
    </bean>

    <bean id="applicationBeanPostProcessor" class="home.spring.ioc.exercises.sixth.ApplicationBeanPostProcessor">
    </bean>

    <bean id="applicationBeanFactoryPostProcessor"
          class="home.spring.ioc.exercises.sixth.ApplicationBeanFactoryPostProcessor">
        <property name="order" value="1"/>
    </bean>
</beans>
